page-about {
  h2 {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  p {
    max-width: 400px;
    margin: 30px auto;
    padding: 0 16px;
    text-align: justify;
    font-size: 1.7rem;
    line-height: 1.6;
  }
  .fixed-content {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
  }
}
