page-contact {
  h2 {
    padding-top: 40px;
  }
  .header-md {
    .logo.swag {
      div {
        margin-left: -30px;
      }
    }
  }
  .button {
    margin: 30px auto 25px auto;
  }
  .row {
    width: 90%;
    margin: auto;
  }
  .col {
    margin: 30px auto;
    max-width: 600px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    .item {
      padding-right: 16px;
      background: rgba(255, 255, 255, 0.1);
    }
  }
  .fixed-content {
    content: "";
    background: url(/assets/image/contact-min.jpeg) no-repeat center center fixed;
    background-size: cover;
    opacity: 0.2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
  }
  .copyright {
    text-align: center;
    text-decoration: none;
    margin: 1em auto;
  }
}
