page-home {

  ion-content {
    /* background-image: linear-gradient(180deg,transparent,rgba(1,1,1,.5)); */
    .fixed-content::after {
      content: "";
      background: url(/assets/image/feed-min.jpeg) no-repeat center center fixed;
      background-size: cover;
      opacity: 0.2;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
    }
  }

  h2 {
    text-align: center;
  }

  .header-md {
    .logo.swag {
      div {
        margin-left: -10px;
      }
    }
  }

  .map-btn {
    min-width: 44px;
    padding: 0 5px;
    margin: 0 6px;
    &:hover {
      opacity: .7;
    }
    a {
      color: rgba(60, 60, 60, 0.7);
      text-decoration: none;
      &:hover {
        opacity: 1 !important;
      }
    }
    .icon {
      font-size: 2.4rem;
      color: rgba(60, 60, 60, 0.7);
    }
    &__text {
      padding-top: 4px;
      color: rgba(60, 60, 60, 0.7);
    }
  }

  .article-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 10px 0;
    list-style-type: none;
    max-width: 375px;
    img {
      margin: auto;
    }
  }

  .article-grid > * {
    flex: 0 1 auto;
    margin: 0.5em 0;
    width: 100%;
    max-width: 37.5em;
  }

  .article {
    transition: 0.4s;
    @media (min-width: $desktop) {
      &:hover {
        background-color: #F9F9F9;
        margin: -3px;
      }
    }
  }

  .article-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    background: white;
    &.mat-card {
      padding: 24px 0;
    }
    .mat-card-header-text {
      margin: 10px auto;
      padding: 0 16px;
      text-align: center;
      max-width: 375px;
      .mat-card-title {
        margin-bottom: 40px;
      }
    }
    .mat-card-subtitle {
      text-align: center;
    }
    .image-container {
      position: relative;
      overflow: hidden;
      .mat-card-image {
        margin-top: 0;
      }
    }
    .image-container:after {
      content: '';
      position: absolute;
      top: 0%;
      left: 0%;
      width: calc(100% + 30px);
      height: calc(100% - 3px);
      box-shadow: -15px 0 8px 8px white inset;
    }
    .mat-card-actions {
      padding: 10px 20px;
      margin-bottom: 0 !important;
      .item {
        background-color: transparent;
        &.item-ios {
          padding-left: 32px;
        }
        .item-inner {
          border-bottom: none;
          .label {
            text-align: center;
            color: #AF9B62;
          }
        }
      }
    }
  }

}
