page-home {

  ion-content {
    /* background-image: linear-gradient(180deg,transparent,rgba(1,1,1,.5)); */
  }

  h2 {
    text-align: center;
  }

  .article-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 0;
    list-style-type: none;
    max-width: 300px;
    img {
      margin: auto;
    }
  }

  .article-grid > * {
    flex: 1 0 5em;
    margin: 0.5em;

    min-width: 20em;
    max-width: 37.5em;
  }

  .article {
    transition: 0.4s;
      &:hover {
        background-color: #F9F9F9;
        margin: -10px -10px;
      }
  }

  .article-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    .mat-card-header-text{
      margin: 10px auto;
    }
    .mat-card-subtitle {
      text-align: center;
    }
    .mat-card-actions {
      .item {
      background-color: transparent;
        .item-inner {
          border-bottom: none;
          .label {
            text-align: center;
            color: #AF9B62;
          }
        }
      }
    }
  }

}
