page-home {

  ion-content {
    /* background-image: linear-gradient(180deg,transparent,rgba(1,1,1,.5)); */
  }

  h2 {
    text-align: center;
  }

  .map-btn {
    min-width: 44px;
    padding: 0 5px;
    margin: 0 6px;
    &:hover {
      opacity: .7;
    }
    a {
      color: rgba(60, 60, 60, 0.7);
      text-decoration: none;
      &:hover {
        opacity: 1 !important;
      }
    }
    .icon {
      font-size: 2.4rem;
      color: rgba(60, 60, 60, 0.7);
    }
    &__text {
      padding-top: 4px;
      color: rgba(60, 60, 60, 0.7);
    }
  }

  .article-grid {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 20px 0;
    list-style-type: none;
    max-width: 400px;
    img {
      margin: auto;
    }
  }

  .article-grid > * {
    flex: 0 1 auto;
    margin: 0.5em;
    width: 100%;
    max-width: 37.5em;
  }

  .article {
    transition: 0.4s;
    @media (min-width: $desktop) {
      &:hover {
        background-color: #F9F9F9;
        margin: -5px;
      }
    }
  }

  .article-card {
    height: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &.mat-card {
      padding: 24px 0;
    }
    .mat-card-header-text {
      margin: 10px auto;
      padding: 0 16px;
      text-align: center;
      .mat-card-title {
        margin-bottom: 40px;
      }
    }
    .mat-card-subtitle {
      text-align: center;
    }
    .mat-card-actions {
      padding: 10px 20px;
      .item {
        background-color: transparent;
        &.item-ios {
          padding-left: 32px;
        }
        .item-inner {
          border-bottom: none;
          .label {
            text-align: center;
            color: #AF9B62;
          }
        }
      }
    }
  }

}
