// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

body {
  visibility: visible;
}

.ion-page .content .scroll-content {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  //padding-top: 49px !important;
  //padding-bottom: 49px !important;
  padding: 49px 0 !important;
}

.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% { -webkit-transform: scale(0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 100% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
    opacity: 0;
  }
}

@font-face {
  font-family: Imogen Agnes;
  src: url('../assets/fonts/imogen_agnes-webfont.woff2') format('woff2'), url('../assets/fonts/imogen_agnes-webfont.woff') format('woff'), url('../assets/fonts/imogen_agnes-webfont.ttf') format('truetype');
}

.swag {
  font-family: 'Imogen Agnes','Skatta Sans',Arial,sans-serif;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: .5;
  font-size: 8rem;
}

@font-face {
  font-family: Imogen Agnes Swash;
  src: url('../assets/fonts/imogen_agnes_swash-webfont.woff2') format('woff2'), url('../assets/fonts/imogen_agnes_swash-webfont.woff') format('woff'), url('../assets/fonts/imogen_agnes_swash-webfont.ttf') format('truetype');
}

.lit {
  font-family: 'Imogen Agnes Swash','Skatta Sans',Arial,sans-serif;
  font-weight: 400;
  letter-spacing: .05rem;
  line-height: .5;
  font-size: 10rem;
  .toolbar-title-md {
    font-size: 8rem;
  }
}

.pick {
  font-size: 4.6rem;
  font-style: italic;
  text-align: center;
  color: #AF9B62;
  padding: 1rem 0;
}

.bar-button-menutoggle {
  color: #AF9B62;
}

.close-btn {
  cursor: pointer;
  margin-left: 18px;
  font-size: 2.5rem;
  color: #AF9B62;
  &:hover {
    color: #424242;
  }
}

.ion-ios-close {
  margin-right: 20px;
  font-size: 4rem;
}

.content .list .label {
  text-align: center;
}

.menu-inner {
  width: 180px;
  .item {
    &:hover {
      background-color: #F9F9F9;
    }
    .item-inner {
      border-bottom: none;
      padding-right: 16px;
    }
  }
}

.no-scroll .scroll-content {
  overflow: hidden;
}

.list-ios > .item-block:first-child {
  border-top: none;
}

.list-ios > .item-block:last-child {
  border-bottom: none;
}

.navi {
  a {
    text-decoration: none;
  }
  &.list {
    padding: 15px 0;
    margin: 0;
  }
}

.some {
  /* position: absolute;
  bottom: 10px;
  width: 100%; */
  border-top: 0.55px solid #c8c7cc;
  padding-top: 16px;
  a {
    text-decoration: none;
  }
  .item-inner {
    text-align: center;
    .ion-logo-facebook {
      /* color: #3b5998; */
    }
    .ion-logo-instagram {
      /* color: #8a3ab9; */
    }
    .ion-logo-android {
      /* color: #A4C639; */
    }
    .ion-logo-apple {
      /* color: #8a3ab9; */
    }
  }
}

.logo.swag {
  a {
    color: #AF9B62;
    font-size: 5rem;
    font-weight: normal;
    text-decoration: none;
    height: 30px;
  }
}

.show-menu {
  .close-btn {
    -webkit-animation: spin 0.3s linear;
  }
}

@-webkit-keyframes spin {
  0%  {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(180deg);}
}

.bar-buttons-md {
  min-width: 56px;
}

.toolbar-title {
  overflow: visible;
}
